<% layout("layouts/boilerplate") %>
<div class="container">
  <h3 class="text-center my-5">Student Money Transaction Details</h3>
    <% if(studentRev) { %> 
        <div class="row mx-5 my-3 table-responsive-sm">
          <table class="table container table-hover text-center" id="<%= studentRev.classes.RTE %>">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Academic Yr</th>
                <th scope="col">Description</th>
                <th scope="col">Amount Paid</th>
              </tr>
            </thead>
            <tbody id="list">
                  <tr id="rowValue">
                    <td></td>
                    <td></td>
                    <td>Total amount paid so far : </td>
                    <td id="totalpaid"></td>
                  </tr>
                  <tr id="Ban">
                    <td id="studentStatus"></td>
                    <td></td>
                    <td></td>
                    <td id="topay"></td>
                  </tr>
                <tr id="Ban">
                  <div class="row">
                    <h5 class="text-end" id="<%= studentRev.revenue._id %>">Showing details for <%= studentRev.name %></h5>
                    <p class="text-end" id="<%= studentRev.classes._id %>">Academic year : <select id="select" style="border: none; outline:0px; -webkit-appearance: button;" class="form-select-lg my-3" aria-label=".form-select-lg example" onchange="performChange()">
                      <% for (let i = 1900; i < 3000; i ++) { %>
                          <option value=<%= i %> <%= workingYear === i? "selected" : "" %>><%= i %></option>
                      <% } %>  
                  </select></p>
                </div>
                    <form action="/Revenue/<%= studentRev._id %>" method="POST" class="needs-validation">
                        <td><input type="date" class="form-control" name="present" required></td>
                        <td><select id="select" style="border: none;" class="form-select" name="academicYr">
                                  <% for (let i = 1900; i < 3000; i ++) { %>
                                      <option value=<%= i %> <%= workingYear === i? "selected" : "" %>><%= i %></option>
                                  <% } %>  
                              </select></td>
                        <td><input type="text" class="form-control" name="description" required></td>
                        <td><input type="text" class="form-control" name="paid" required></td>
                        <td><button type="submit" class="btn btn-dark" id="Remove" required>Add</button></td>
                    </form>
                </tr>
            </tbody>
          </table>
        </div>
        <% } %> 
</div>

<%- include('../partials/validateForm') %>

<script>
  const END_POINT = `/Revenue/json`;

  async function getData(url){
    const response = await fetch(url);
    const data = await response.json();
    return data.data;
  }

  function removeAllChildNodes(parent) {
    while (parent.firstChild.id != "Ban" && parent.firstChild.id != "rowValue") {
      parent.removeChild(parent.firstChild);
    }
  }

  async function performChange(){
    removeAllChildNodes(document.getElementById("list"));
    const select = document.getElementById("select");
    let studentID = document.getElementsByTagName("h5")[0].id;
    let studentClass = document.getElementsByTagName("p")[0].id;
    let items = await getData(END_POINT + `/${studentID}/${select.value}/${studentClass}`);
    let returnArray = items.data1.amountPaid.filter(function(ele) {
        if(ele.academicYr == select.value) return ele;
    });
    let preVal = Date.parse((select.value + 1) + "-06-01");
    let postVal = Date.parse((select.value) + "-06-01");
    let toPay = ((Date.parse(items.data3) <= preVal) && (Date.parse(items.data3) >= postVal)) ? items.data2.newStudent : items.data2.oldStudent;
    document.getElementById("topay").innerHTML = `Total amount to be paid for ${select.value}  Academic Year : ${toPay}`;
    document.getElementById("studentStatus").innerHTML = ((Date.parse(items.data3) <= preVal) && (Date.parse(items.data3) >= postVal)) ? "New Student" : "Old Student";
    if(returnArray.length > 0) {
      let item_inside = "";
      document.getElementById("totalpaid").innerHTML = returnArray.map(ele => ele.paid).reduce((a, b) => a + b);
      for (let val of returnArray) {
        let item_head = document.createElement("tr");
        item_head.id = "values";
        item_inside = `<td>${val.present}</td>
                  <td>${val.academicYr}</td>
                  <td>${val.description}</td>
                  <td>${val.paid}</td>
                  <td><form action="/Revenue/<%= studentRev._id%>/${items.data1._id}/${val._id}?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-white">x</button></a>
                  </form></td>`;
        item_head.innerHTML = item_inside;
        document.getElementById("list").insertBefore(item_head, document.getElementById("rowValue"));
      }
    } else {
      document.getElementById("totalpaid").innerHTML = 0;
    }
  }
  document.onload = performChange();
</script>